*{
     margin: 0;
     padding: 0;
}

.ctn{
    margin-left: 0;
    margin-right: 0;
}
nav{
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.7);
}
.container-footer{
    background-color: #d2e7f8;
}
p{
    text-align: left;
}
img {
    width: 100px;
    margin-bottom: 10px;
}
i{
    font-size: 30px;
}
.fa-facebook{
    color: rgb(65, 100, 177);
}
.fa-instagram{
    color: palevioletred;
}
.fa-linkedin{
    color: rgb(37, 38, 117);
}